<!DOCTYPE html>
<html>
<head>
	<title>Monkey Dashboard</title>
</head>
<body>
	<a href="/">Home</a>
	<h1>Welcome to <%= monkey.name%>'s page</h1>
	<p>Name: <%= monkey.name %></p>
	<p>Color: <%= monkey.color %></p>
	<p>Age: <%= monkey.age %></p>
	<p>Created At: <%= monkey.createdAt %></p>

	<a href="/monkeys/new">Create a New Monkey</a>

</body>
</html>